.background {
    background-color: #242548;
    max-height: 92%;
    overflow: hidden;
}

.all {
    display: flex;
    margin: 1.2rem;
    gap: 2rem;
}

.gridSpan {
    grid-column: 2 span;
}

.display {
    display: inline-flex;
    padding-left: 4rem;
    border-left: thin solid #ffffff;
}

.title {
    font-size: 2rem;
    color: #00ECFA;
    padding: 1rem;
}

.subtitle {
    font-size: 1.5rem;
}

.firstPath {
    display: block;
    width: 30%;
    margin-left: 3rem;
}

.line {
    border-left: thin solid #ffffff;
    left: 38%;
    position: absolute;
}

.card {
    background-color: #ff7700;
    width: 16rem;
    padding: 1rem;
    margin-left: 3rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    -webkit-box-shadow: -10px 18px 11px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px 18px 11px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -10px 18px 11px -1px rgba(0, 0, 0, 0.75);
}

.position {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
    color: black;
}

.name {
    font-size: 2rem;
    margin-bottom: 10px;
}

.img {
    border-radius: 10px;
    height: 8rem;
    width: 8rem;
    margin-bottom: 2rem;
}

.firstSection {
    background-color: #788cde;
    border-radius: 13px;
    margin-left: 2rem;
    -webkit-box-shadow: -10px 18px 11px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px 18px 11px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -10px 18px 11px -1px rgba(0, 0, 0, 0.75);
}

.formText {
    display: table-caption;
    padding: 0.5rem;
}

.textName {
    font-size: 20px;
    color: black;
}

.blankSpace {
    width: 13rem;
    border-radius: 15px;
    border-bottom: black;
    margin: 0.3rem;
    height: 2rem;
    border-width: 3px;
}

.formValues {
    display: grid;
    grid-gap: 10px;
    padding: 0.7rem;
}

.classTest {
    margin: 0.5rem;
    grid-column: 3 span;
}

.textRanges {
    color: black;
    margin-right: 10px;
    justify-self: flex-start
}

.typeText {
    grid-column: 3 span;
    color: rgb(255, 255, 255);
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 2rem;
    border-radius: 12px;
    ;
    height: 24.5rem;
    margin-left: 5rem;
    background-color: #10a352;
    -webkit-box-shadow: -10px 18px 11px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px 18px 11px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -10px 18px 11px -1px rgba(0, 0, 0, 0.75);
}

.createButton {
    width: 6rem;
    margin-top: 0.5rem;
    border-radius: 23px;
    background: none;
    border-color: white;
    color: white;
    font-size: 20px;
    grid-column: 2 span;
    justify-self: center;
    height: 2rem;
}

.createButton:disabled {
    background-color: gainsboro;
}

.createButton:not([disabled]):hover {
    background-color: aliceblue;
    color: black;
    border-color: black;
}

.createButton:disabled:hover .tooltipBox {
    visibility: visible;
    opacity: unset
}

.tooltipBox {
    width: 120px;
    top: 100%;
    padding-bottom: 4px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms, visibility 1ms 250ms;
    transform: translateY(-120%);
}

.tooltipItself {
    display: block;
    background: hsl(0, 82%, 42%);
    color: hsl(266deg 100% 96%);
    padding: 6px 8px;
    font-size: 1.3rem;
    border-radius: 4px;
    text-align: center;
    width: 15rem;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
    -webkit-box-shadow: -10px 18px 11px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px 18px 11px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -10px 18px 11px -1px rgba(0, 0, 0, 0.75);
}

.buttonType {
    border-radius: 10px;
    background-color: transparent;
    border-color: white;
    color: white;
    text-shadow: 3px;
    width: 4rem;
}

.buttonType:hover {
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 10px;
}

.selected {
    background-color: rgb(26, 165, 203);
    color: white;
    border-radius: 10px;
}

.doneCard {
    top: 20%;
    left: 40%;
    position: absolute;
    display: grid;
    background-color: rgb(221, 187, 162);
    padding: 2rem;
    border-radius: 15px;
    -webkit-box-shadow: -10px 18px 11px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px 18px 11px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -10px 18px 11px -1px rgba(0, 0, 0, 0.75);
}

.imgCard {
    border-radius: 100%;
    margin: 1rem 0;
    height: 12rem;
    width: 12rem;
}

.doneButton {
    border-radius: 15px;
    border-width: 2px;
    border-color: #ffffff;
    background-color: transparent;
    color: #ffffff;
    padding: 0.5rem;
}

.doneButton:hover {
    border-color: #ffffff;
    background-color: white;
    color: #2d1616;
    padding: 0.5rem;
}

.darkbck {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
}

.errors {
    color: red;
    font-size: 18px;
}