.container {
    background-image: url('../../../public/pxfuel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    align-items: center;
}

.welcome {
    font-size: 4rem;
    margin-top: 14rem;
}

.button {
    background: none;
    border-radius: 30px;
    padding: 0.2rem;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    color: black;
    width: 9rem;
    position: absolute;
    font-size: xx-large;
    margin-top: 25rem;
}

.button:hover {
    background-color: black;
    color: yellow;
}